<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="htmlHead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</head>
<body>


<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Contacts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addContact">Add contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/changeContact">Change contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sendMessage">Send message</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/profile">Profile</a>
            </li>
            <li class="nav-item">
                <div sec:authorize="isAuthenticated()">
                    <span th:if="${#strings.contains(#authentication.principal.authorities,'ADMIN')}">
                        <a class="nav-link" href="/userList">User list</a>
                    </span>
                </div>
            </li>

        </ul>

        <div sec:authorize="isAuthenticated()">
            <div class="navbar-text" sec:authentication="name"></div>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-primary ml-5 " value="Sign Out">Logout</button>
            </form>
        </div>

    </div>
</nav>




</body>