<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <title>Main</title>
    <th:block th:include="fragments.html :: htmlHead"></th:block>
</head>

<body>

<!--<div sec:authentication="name"></div>-->
<!--<div sec:authentication="principal.authorities"></div>-->
<!--<div sec:authorize ="hasAuthority('ADMIN')">-->
<!--    <h1>This is admin</h1>-->
<!--</div>-->
<!--<span th:text="${#authentication.getPrincipal().getroles()}"></span>-->
<!--<span th:text="${#authentication.getPrincipal().authorities}"></span>-->
<!--<span th:text="${#authentication.getPrincipal().getRole()}"></span>-->


<!--<span th:if="${#strings.contains(#authentication.principal.authorities,'ADMIN')}">aaa</span>-->
<!--<span th:if="${#strings.contains(#authentication.principal.authorities,'USER')}">uuu</span>-->


<div th:replace="fragments.html :: header"></div>




<div class="container " >

    <a class="btn btn-primary mt-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Search
    </a>

    <div class="collapse" id="collapseExample">

        <div class="form-row mt-5">
            <div class="form-group col-md-6">
                <form method="get" th:action="@{main}" class="form-inline">
                    <input type="text" name="tag" placeholder="Search by tag" class="form-control">
                    <button type="submit" class="btn btn-primary ml-1">Search</button>
                </form>
            </div>
        </div>

        <div class="form-row mt-1">
            <div class="form-group col-md-6">
                <form method="get" th:action="@{main}" class="form-inline">
                    <input type="text" name="name" placeholder="Search by name" class="form-control">
                    <button type="submit" class="btn btn-primary ml-1">Search</button>
                </form>
            </div>
        </div>

    </div>



    <div th:each="contact : ${contacts}" class="card my-3 shadow p-4 mb-5 bg-white rounded" style="max-width: 840px;">
        <div class="row no-gutters">
            <div class="col-md-4 mt-4">
                <img class="img-thumbnail " width="200"  th:src="@{/img/{id}(id=${contact.filename})}"  alt="img"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">

                    <p class="card-title"  th:utext="'<b>Name: </b>' + ${contact.name}"></p>
                    <p class="card-text" th:if="${contact.description != null}" th:utext="'<b>Description: </b>' + ${contact.description}"></p>
                    <p class="card-text" th:if="${contact.tag != null}"  th:utext="'<b>Tag: </b>' + ${contact.tag}"></p>
                    <p class="card-text" th:if="${contact.email != null}" th:utext="'<b>Email: </b>' +${contact.email}"></p>
                    <div class="row" style="text-align:right">
                        <div class="mr-3">
                            <a th:href=@{/sendMessage(email=${contact.email})} class="btn btn-info ">Write message</a>
                        </div>
                        <div class="mr-3">
                            <a th:href=@{/changeContact(id=${contact.id})} class="btn btn-secondary">Edit     </a>
                        </div>
                        <div class="mr-3">
                            <form class="nowrap" th:action="'/contact/' + ${contact.id} + '/remove'" method="post">
                                <button class="btn btn-warning" type="submit">Delete</button>
                            </form>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item" th:each="pageNumber : ${numbers}"
        th:class="${pageNumber == contacts.number} ? active">
            <a class="page-link" th:href="@{'/main?page=' + ${pageNumber}}" th:text="${pageNumber + 1}"></a>
        </li>
    </ul>
</nav>


<!--<div style="width: 20%;margin:0 auto;">-->
<!--    <nav aria-label="..." >-->
<!--        <ul class="pagination" style="display: flex;justify-content: center">-->
<!--            <li class="page-item" id="previous" style="width: 100px">-->
<!--                <a class="page-link" href="#" tabindex="-1" style="display: block;text-align: center" onclick="prev()">Previous</a>-->
<!--            </li>-->

<!--            <li class="page-item" id="next" style="margin-left: 30px; width: 100px">-->
<!--                <a class="page-link" href="#" style="display: block;text-align: center" onclick="next()">Next</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->

<!--<div class="container mt-3">-->

<!--    <div th:each="contact : ${contacts}" class="card" style="width: 18rem;">-->
<!--        <img class="card-img-top" th:src="@{/img/{id}(id=${contact.filename})}" width="150" height="150"  alt="img"/>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <td th:utext="${contact.text}">...</td>-->
<!--        </div>-->
<!--        <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item" th:utext="${contact.tag}">Cras justo odio</li>-->
<!--            <li class="list-group-item" th:utext="${contact.tag}">Dapibus ac facilisis in</li>-->
<!--            <li class="list-group-item" th:utext="${contact.tag}">Vestibulum at eros</li>-->
<!--        </ul>-->
<!--        <div class="card-body">-->
<!--            <a href="#" class="card-link">Card link</a>-->
<!--            <a href="#" class="card-link">Another link</a>-->
<!--        </div>-->
<!--    </div>-->


<!--    <table class="container" border="1">-->
<!--        <tr>-->
<!--            <th><h1>text</h1></th>-->
<!--            <th><h1>tag</h1></th>-->
<!--            <th><h1>author</h1></th>-->
<!--            <th><h1>Image</h1></th>-->
<!--        </tr>-->
<!--        <tr th:each="contact : ${contacts}">-->
<!--            <td th:utext="${contact.text}">...</td>-->
<!--            <td th:utext="${contact.tag}">...</td>-->
<!--            <td th:utext="${contact.author.getUsername()}">...</td>-->
<!--            <td>-->
<!--                <img  th:src="@{/img/{id}(id=${contact.filename})}" width="150" height="150"  alt="img"/>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->


<!--    <h2><a href="addContact">Add Contact</a></h2>-->

</div>

</body>
</html>