<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>

<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<span><a href="/user">User List</a></span>



<!--<h1>Contacts</h1>-->
<!--<c:forEach items="${contact}" var="review">-->
<!--    <div>-->
<!--        <c:out value="${contact.text}"/><br/>-->
<!--        <small><c:out value="${contact.tag}"/></small>-->
<!--    </div>-->
<!--    <br/>-->
<!--</c:forEach>-->



<div class="container">
    <table class="container" border="1">
        <tr>
            <th><h1>text</h1></th>
            <th><h1>tag</h1></th>
            <th><h1>author</h1></th>
        </tr>
        <tr th:each="contact : ${contacts}">
            <td th:utext="${contact.text}">...</td>
            <td th:utext="${contact.tag}">...</td>
            <td th:utext="${contact.author.getUsername()}">...</td>
        </tr>
    </table>
</div>

<!--th:action="@{/findContact}-->
<!--<form method="post">-->
<!--    <input type="text" name="tag" placeholder="tag">-->
<!--    <button type="submit">Find</button>-->
<!--</form>-->
<form method="get" th:action="@{main}">
    <input type="text" name="tag" placeholder="Tag">
    <button type="submit">Find</button>
</form>

<h2><a href="addContact">Add Contact</a></h2>



</body>
</html>