<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <th:block th:include="fragments.html :: htmlHead"></th:block>
</head>
<body>
<div th:replace="fragments.html :: header"></div>


<!--<div class="m-4" th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div class="m-4" th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->

<div class="m-4" th:utext="${message}"></div>

<h5 class="m-5">Profile</h5>


<!--<h5  th:utext="${message}"></h5>-->
<div class="container mt-5">
    <form method="post" th:action="@{/user/profile}">

        <div class="form-group">

            <label class="col-sm-2 col-form-label" for="inputPassword">New password</label>
            <div class="col-sm-5">
                <input placeholder="Enter password"  id="inputPassword" class="form-control" type="password" name="password"/>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 col-form-label" for="inputMail">New email</label>
            <div class="col-sm-5">
                <input placeholder="Enter email"  id="inputMail" class="form-control" type="email" name="email"/>
            </div>
        </div>

        <div>
            <button  type="submit" class="btn btn-primary mt-4">Save</button>
        </div>
    </form>

</div>






</body>
</html>