
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Add user</title>

    <th:block th:include="fragments.html :: htmlHead"></th:block>
</head>
<body>
<div>

    <div th:replace="fragments.html :: header"></div>

<!--    <div class="m-4">Edit user:</div>-->
<!--    <form class="" th:action="@{/user}" th:object="${user}" method="POST">-->
<!--        <input type="hidden" th:field="*{idUser}"/>-->
<!--        <p>UserName:<input type="text" th:field="*{username}"/></p>-->
<!--        <p>Email:<input type="text" th:field="*{email}"/></p>-->
<!--        <input class="button-main-page" type="submit" value="Edit"/>-->
<!--    </form>-->


    <div class="form-group mt-3">
        <h6 class="m-3">Edit user:</h6>
        <form  th:action="@{/user}"  th:object="${user}" method="POST">
            <input type="hidden" th:field="*{idUser}"/>
            <div class="form-group">
                <div  class="col-sm-3">
                    <input   class="form-control" type="text" th:field="*{username}"/>
                </div>
            </div>
            <div class="form-group">
                <div  class="col-sm-3">
                    <input   class="form-control" type="text" th:field="*{email}"/>
                </div>
            </div>

            <div class="form-group m-3">
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
        </form>
    </div>




</div>
</body>